/*菜单列表动画*/
.slideTransition {
	transition: right linear .6s;
}
/*loading 进度条动画*/
@keyframes loadingAnimate {
	from {background-position: 0px}
	to {background-position: 18px}
}
/*loading 加载详情动画*/
@keyframes fadeOutAnimate {
	0% {opacity: 1;}
	50% {opacity: 0.8;}
	80% {opacity: 0.5;}
	100% {opacity: 0;}
}
.fadeOut {
	animation: fadeOutAnimate .6s;
}